# ============================================================
#  AegisOS GRUB Kurulum Yapılandırması (D:\ / FAT32 Bölüm)
#  Bu dosya BOOTX64.EFI içine gömülür
# ============================================================

set timeout=5
set default=0

insmod all_video
insmod video
insmod video_fb
insmod video_vesa
insmod multiboot2
insmod part_gpt
insmod part_msdos
insmod fat

menuentry "AegisOS v4.0 (Grafik Modu)" {
    set gfxpayload=text
    set gfxpayload=text
    multiboot2 /boot/aegis_core.bin
    boot
}

menuentry "AegisOS v4.0 (Guvenli Mod)" {
    set gfxpayload=text
    set gfxpayload=text
    multiboot2 /boot/aegis_core.bin
    boot
}
